
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css" />

<br />
<div class="border p-3 bg-white" style="margin-top:80px!important;">
    <div class="d-flex justify-content-between mb-3">
        <div class="p-2">
            <h2 class="text-info">Inquiry's List </h2>
        </div>

    </div>


    <table id="tblData" class="table table-striped table-bordered pt-2" style="width:100%">
        <thead class="" >
            <tr class="table-info">
                <th style="background:#ffe4e1; color:crimson;">Id</th>
                <th style="background:#ffe4e1!important; color:crimson!important;">Name</th>
                <th style="background:#ffe4e1!important; color:crimson!important;">Phone Number</th>
                <th style="background:#ffe4e1!important; color:crimson!important;">Email</th>
                <th style="background:#ffe4e1!important; color:crimson!important;"></th>
            </tr>
        </thead>
    </table>

</div>

@section Scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="~/js/inquiry.js"></script>
}