@charset "utf-8";

/* ---------- GENERAL ---------- */


#body2 {
    background: url(/image/wallpaper.png) !important;
    height: 100%;
    font-family: "Roboto", "Helvetica Neue", Arial, sans-serif;
}

#center-text {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

/* ---------- GENERAL STYLE---------- */

.chat-box-welcome__company-name,
.chat-box__sign {
    font-family: "Roboto", "Helvetica Neue", "Arial", sans-serif;
    position: relative;
}

/*powered by deeppixel*/

.chat-box__sign {
    font-size: 9px;
    line-height: 20px;
    /*color: #a2a2a2;*/
    color: #b5b5b5;
}

.chat-input-box {
    text-align: center;
    position: relative;
}

.btn#my-btn {
    background: white;
    padding-top: 13px;
    padding-bottom: 12px;
    border-radius: 45px;
    padding-right: 40px;
    padding-left: 40px;
    color: #5865c3;
}

/*color to change*/

#chat-circle,
.chat-box-welcome__header,
.chat-box-header,
.chat-msg.bot > .msg-avatar {
    background-color: crimson;
}

.options-btn {
    border: 1px solid crimson;
}

.spiner > * {
    background: crimson;
}

/*.options-btn:hover{
   background-image: linear-gradient( to bottom right, rgba(240, 149, 255, 1), rgba(246, 72, 72, 1));
    
    color: white;
}*/

/* ---------- chat-bot-button to open chat---------- */
.img {
    width: 10px;
}

#chat-circle {
    position: fixed;
    bottom: 30px;
    right: 30px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    color: white;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0px 3px 16px 0px rgba(246, 72, 72, 0.5), 0 3px 1px -2px rgba(246, 72, 72, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

    #chat-circle .badge {
        position: absolute;
        top: -6px;
        right: -9px;
        padding: 5px 0 0 0;
        width: 20px;
        border-radius: 50%;
        background-color: white;
        color: crimson;
        height: 20px;
    }

.fa-comment-dots {
    font-size: 20px;
}

/*#chat-circle .material-icons {
    font-size: 36px;
}*/

#chat-overlay {
    background: rgba(255, 255, 255, 0.1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}

.chat-circle_robot {
    height: 10px;
}

/*chat-bot-welcome*/

.chat-box-welcome {
    background: #f8f8f8;
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 350px;
    max-width: 85vw;
    max-height: 100vh;
    border-radius: 3px;
    border-radius: 10px 10px 0 0;
    box-shadow: 0px 5px 35px 9px #ccc;
}

.chat-box-welcome__header {
    height: 420px;
    display: none;
    border-radius: 10px 10px 0 0;
}

.chat-box__header-text {
    color: white;
    padding-left: 10px;
    font-size: 20px;
    padding-top: 13px;
}

#chat-box-welcome__ava {
    background: rgba(0, 0, 0, 0.38);
    border-radius: 50%;
    position: absolute;
    top: 98px;
    left: 124px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    color: white;
}

/*#chat-box-welcome__ava .material-icons {
    font-size: 64px;
}*/

.chat-box-welcome_robot {
    height: 75px;
    position: absolute;
    top: 12px;
}

.chat-box-welcome__welcome-text {
    color: #fff;
    text-align: center;
    width: 80%;
    position: relative;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
}

    .chat-box-welcome__welcome-text p {
        font-size: 24px;
    }

/*chat-box after welcome was togled*/

#chat-box__wraper {
    display: none;
}

.chat-box {
    display: none;
    position: fixed;
    right: 30px;
    bottom: 50px;
    width: 350px;
    max-width: 85vw;
    max-height: 100vh;
    border-radius: 10px;
    box-shadow: 0px 5px 35px 9px #ccc;
}

.chat-box-toggle {
    float: right;
    margin-right: 15px;
    cursor: pointer;
}

.chat-box-header {
    position: relative;
    height: 50px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: white;
    padding-left: 10px;
    font-size: 20px;
    padding-top: 13px;
    border-radius: 10px 10px 0 0;
}

.chat-box-body {
    position: relative;
    height: 370px;
    height: auto;
    border-bottom: 1px solid rgba(181, 181, 181, 0.42);
    overflow: hidden;
}

    .chat-box-body:after {
        content: "";
        background-color: #f8f8f8;
        opacity: 0.1;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        height: 100%;
        position: absolute;
        z-index: -1;
    }

.chat-input__text {
    background: #fff;
    width: 95%;
    position: relative;
    height: 47px;
    padding-top: 10px;
    padding-right: 50px;
    padding-bottom: 10px;
    padding-left: 15px;
    margin-top: 5px;
    resize: none;
    outline: none;
    border: 1px solid #f2f0f0;
    color: crimson;
    border-radius: 0 0 10px 10px;
    overflow: hidden;
}

.chat-input-box > form {
    margin-bottom: 0;
}

.chat-input__text::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: #ccc;
}

.chat-input__text::-moz-placeholder {
    /* Firefox 19+ */
    color: #ccc;
}

.chat-input__text:-ms-input-placeholder {
    /* IE 10+ */
    color: #ccc;
}

.chat-input__text:-moz-placeholder {
    /* Firefox 18- */
    color: #ccc;
}

.chat-submit {
    position: absolute;
    bottom: 27px;
    right: 10px;
    background: transparent;
    box-shadow: none;
    border: none;
    border-radius: 50%;
    color: crimson;
    width: 35px;
    height: 35px;
}

.chat-logs {
    padding: 15px;
    height: 370px;
    overflow-y: scroll;
}

@media only screen and (max-width: 500px) {
    .chat-logs {
        height: 40vh;
    }
}

.chat-msg.bot > .msg-avatar {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    width: 15%;
    padding: 9px;
    position: relative;
}

/*.chat-msg.bot>.msg-avatar .material-icons {
    color: #fff;
    font-size: 25px;
}*/

.chat-box-overlay_robot {
    height: 35px;
    position: absolute;
    top: 5px;
}

/*.chat-msg.self>.msg-avatar img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: right;
    width: 15%;
}*/

.cm-msg-text {
    background: white;
    padding: 10px 15px 10px 15px;
    color: crimson;
    max-width: 75%;
    float: left;
    margin-left: 10px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 3px;
}

.cm-msg-text-rep {
    list-style-type:none;
    background: white;
    padding: 10px 15px 10px 15px;
    color: crimson;
    max-width: 75%;
    float: right;
    margin-left: 10px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 3px;
}

.options-btn {
    background: white;
    padding: 10px 15px 10px 15px;
    color: crimson;
    width: 75%;
    margin-left: 55px;
    position: relative;
    margin-bottom: 20px;
    border-radius: 3px;
    text-align: center;
}

.chat-msg {
    clear: both;
}

    .chat-msg.self > .cm-msg-text {
        float: right;
        background: #efefef;
        /*color: white;*/
    }

.cm-msg-button > ul > li {
    list-style: none;
    float: left;
    width: 50%;
}

.cm-msg-button {
    clear: both;
    margin-bottom: 70px;
}

/*loader*/

.spin-container {
    /* padding: 0px 15px 0px 15px; */
    color: #666;
    max-width: 75%;
    /* float: left; */
    bottom: 4px;
    left: 50%;
    /* margin-left: 45%; */
    position: absolute;
    /* margin-bottom: 20px; */
    display: none;
}

.spiner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -10px 0 0 -20px;
    display: inline-block;
    position: relative;
    height: 20px;
    width: 40px;
}

    .spiner > * {
        position: absolute;
        top: 5px;
        height: 10px;
        width: 10px;
        border-radius: 50%;
        /* background: #0074e4;*/
        opacity: 0.6;
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }

        .spiner > *:nth-child(1) {
            left: 0;
            -webkit-animation: mymove 1.3s infinite ease-in;
            animation: mymove 1.3s infinite ease-in;
        }

        .spiner > *:nth-child(2) {
            left: 12px;
            -webkit-animation: mymove 1.3s 0.3s infinite ease-in;
            animation: mymove 1.3s 0.3s infinite ease-in;
        }

        .spiner > *:nth-child(3) {
            left: 24px;
            -webkit-animation: mymove 1.3s 0.6s infinite ease-in;
            animation: mymove 1.3s 0.6s infinite ease-in;
        }

.typing {
    position: absolute;
    top: 90%;
    left: 15px;
}

    .typing .bubble {
        background: #fff;
        padding: 8px 13px 9px 13px;
    }

.ellipsis {
    width: 5px;
    height: 5px;
    display: inline-block;
    background: crimson;
    border-radius: 50%;
    animation: bounce 1.3s linear infinite;
}

.one {
    animation-delay: 0.6s;
}

.two {
    animation-delay: 0.5s;
}

.three {
    animation-delay: 0.8s;
}

.bubble {
    position: relative;
    display: inline-block;
    margin-bottom: 5px;
    color: white;
    font-size: 0.7em;
    padding: 10px 10px 10px 12px;
    border-radius: 20px;
}

@-webkit-keyframes mymove {
    0%, 100%, 80% {
        opacity: 0.6;
        -webkit-transform: scale(0.4);
    }

    40% {
        opacity: 1;
        -webkit-transform: scale(1);
    }
}

@keyframes mymove {
    0%, 100%, 80% {
        opacity: 0.6;
        transform: scale(0.4);
    }

    40% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes bounce {
    30% {
        transform: translateY(-2px);
    }

    60% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(2px);
    }

    100% {
        transform: translateY(0px);
        opacity: 0.5;
    }
}
