@model Rocky_Models.ViewModel.ProductVM
@using Rocky_Utility
@{ 
    var title = "Create Product";
}

<form method="post" enctype="multipart/form-data" style="margin-top:80px!important; "> <!--thêm hình ảnh phải có dòng này--> 
    @if (Model.Product.Id != 0)
    {
        title = "Edit Product";
        <input asp-for="Product.Id" hidden />
    }
    <div class="border p-3 bg-white" style="height:800px!important;">

        <div class="form-group row py-2">
            <h2 class="text-info pl-3">@title</h2>
        </div>
        <div class="row">
            <div class="col-8">
                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.Name"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Name" class="form-control" />

                        <span asp-validation-for="Product.Name" class="text-danger"></span>
                    </div>

                </div>

                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.Price"></label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Product.Price" class="form-control" />
                        <span asp-validation-for="Product.Price" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.Description"></label>
                    </div>
                    <div class="col-8">
                        <textarea asp-for="Product.Description" class="form-control " id="summernote" style="height:270px!important;"></textarea>
                        <span asp-validation-for="Product.Description" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-4">
                        Image
                    </div>
                    <div class="col-8">
                        <input type="file" name="files" id="uploadBox" multiple class="form-control" />
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.CategoryID"></label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.CategoryID" asp-items="@Model.CategorySelectList" class="form-select">
                            <option selected>---Select Category---</option>
                        </select>
                        <span asp-validation-for="Product.CategoryID" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-4">
                        <label asp-for="Product.ApplicationTypeID">Number of products</label>
                    </div>
                    <div class="col-8">
                        <select asp-for="Product.ApplicationTypeID" asp-items="@Model.ApplicationTypeSelectList" class="form-select">
                            <option selected>---Select Number of product---</option>
                        </select>
                        <span asp-validation-for="Product.ApplicationTypeID" class="text-danger"></span>
                    </div>
                </div>

                <div class="form-group row py-2">
                    <div class="col-8 offset-4 row">
                        <div class="col">
                            @if (Model.Product.Id != 0)
                            {
                                //update
                                <input type="submit" class="btn btn-info w-100" value="Update" />
                            }
                            else
                            {
                                //create
                                <input type="submit" onclick="return validateInput()" class="btn btn-info w-100" value="Create" />
                            }

                        </div>
                        <div class="col">
                            <a asp-action="Index" class="btn btn-info w-100"><i class="fas fa-sign-out-alt"></i>Back</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                @* Keep this empty *@
                @if (Model.Product.Id!=0)
                {
                <img src="@WC.ImagePath@Model.Product.Image" width="100%" style="border-radius:5px; border:1px solid #bbb" />
                }
            </div>
        </div>
    </div>
</form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial" />
    }
<script>
    $(document).ready(function () {
        $('#summernote').summernote({
            height:250
        });
    });
    function validateInput() {
        if (document.getElementById("uploadBox").value == "") {
            
            Swal.fire({
                icon: 'error',
                title: 'Error...',
                text: 'Please upload image!',
                footer: '<a href>Why do I have this issue?</a>'
            })
            return false;
        }
        return true;
    }
</script>
}